<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>인사 발령 입력</title>
    <link rel="stylesheet" type="text/css" href="/css/transfernewstyle.css">
</head>
<body>
<div layout:fragment="content">
<h1>직원을 선택하세요</h1>
<form th:action="@{/transfer/newselect}" method="get">
    <select name="employeeId">
        <option value="">직원 선택</option>
        <option th:each="employee : ${employees}" th:value="${employee.employeeId}"
                th:text="${employee.name}"></option>
    </select>
    <button type="submit">다음</button>
</form>
</div>
</body>
</html>
