<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>인사 발령 입력</title>
    <link rel="stylesheet" type="text/css" href="/css/transfernewselectstyle.css">
</head>
<body>
<div layout:fragment="content">
<h1>인사 발령 입력</h1>
<div class="table-container">
    <form id="select" action="/transfer/apply" method="post">
        <table>
            <tr>
                <th>이름</th>
                <td><input type="text" th:value="${employee.name}" readonly></td>
            </tr>
            <tr>
                <th>현재 부서</th>
                <td><input type="text" th:value="${employee.department.name}" readonly></td>
            </tr>
            <tr>
                <th>현재 직급</th>
                <td><input type="text" th:value="${employee.position.name}" readonly></td>
            </tr>
            <tr>
                <th>발령 부서</th>
                <td>
                    <select name="toDepartmentId">
                        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>발령 직급</th>
                <td>
                    <select name="toPositionId">
                        <option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>발령일</th>
                <td><input type="date" name="transferDate"></td>
            </tr>
            <tr>
                <th>발령 구분</th>
                <td>
                    <select name="personnelAppointment">
                        <option value="승진">승진</option>
                        <option value="강등">강등</option>
                        <option value="부서 이동">부서 이동</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">신청</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
</body>
</html>