<div class="sidebar" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
<h2>메뉴</h2>
    <ul>
        <li><a href="#" onclick="toggleMenu(this)">인사관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">직원 관리▼</a>
                    <ul class="open">
                        <li><a href="/employee/list">- 직원 목록</a></li>
                        <li><a href="/employee/new">- 직원 등록</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">인사 발령▼</a>
                    <ul class="open">
                        <li><a href="/transfer/list">- 인사 발령 조회</a></li>
                        <li><a href="/transfer/new">- 인사 발령 입력</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">퇴사자 관리▼</a>
                    <ul class="open">
                        <li><a href="/manage/resignations">- 퇴사자 명단</a></li>
                        <li><a href="/resignation">- 퇴사 신청</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">증명서 관리▼</a>
                    <ul class="open">
                        <li><a href="/certificate/employee">- 재직 증명서</a></li>
                        <li><a href="/certificate/career">- 경력 증명서</a></li>
                        <li><a href="#">- 급여 명세서</a></li>
                        <li><a href="/certificate/list">- 증명서 발급 현황</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" onclick="toggleMenu(this)">근태 관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">항목 코드 관리▼</a>
                    <ul class="open">
                        <li><a href="/attendance/list">- 근태항목코드</a></li>
                        <li><a href="/leave/list">- 휴가항목코드</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">휴가▼</a>
                    <ul class="open">
                        <li><a href="/vacation/new">- 휴가 신청</a></li>
                        <li><a href="/vacation/list">- 휴가 신청 승인</a></li>
                        <li><a href="/vacation/confirmed">- 휴가자 조회</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">출퇴근 관리▼</a>
                    <ul class="open">
                        <li><a href="/record/list">- 출퇴근 기록 조회</a></li>
                        <li><a href="/record/register">- 출퇴근 등록</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" onclick="toggleMenu(this)">급여 관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">급여 코드 관리▼</a>
                    <ul class="open">
                        <li><a href="/allowanceCode/list">- 수당 등록</a></li>
                        <li><a href="/deduction/list">- 공제 등록</a></li>
                        <li><a href="/tax/list">- 소득세 범위 설정</a> </li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">급여▼</a>
                    <ul class="open">
                        <li><a href="/monthly/list">- 근태 기록 조회</a></li>
                        <li><a href="/allowanceTotal/allList">- 월별 추가 수당 조회</a></li>
                        <li><a href="/allowanceTotal/list">- 직원 추가 수당 설정</a></li>
                        <li><a href="/deductionTotal/monthlyAll">- 직원별 공제 내역 조회</a></li>
                        <li><a href="/salary/list">- 총 급여 조회</a> </li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">퇴직금▼</a>
                    <ul class="open">
                        <li><a href="/">- 퇴직금</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" onclick="toggleMenu(this)">회사 관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">회사▼</a>
                    <ul class="open">
                        <li><a href="/company/list">- 회사 정보/수정</a></li>
                        <li><a href="/company/new">- 회사 정보 등록</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">조직 개편▼</a>
                    <ul class="open">
                        <li><a href="/organization/position/list">- 직급 관리</a></li>
                        <li><a href="/organization/department/list">- 부서 관리</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<script src="/js/common.js" defer></script> <!-- 공통 JavaScript -->
