/* 전체 컨테이너 */
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* 왼쪽 배경 섹션 */
.background-section {
    flex: 1;
    background-image: url('/image/background.png'); /* 배경 이미지 경로 */
    width: 600px;
    height: 1050px;
    margin-top: 50px;
    background-size:center;
    background-position: center;
    background-repeat: no-repeat;
}

/* 오른쪽 로그인 섹션 */
.login-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.logo {
    max-width: 900px;
    margin-bottom: 70px;
}

/* 폼 스타일 */
form {
    align-items:center;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    background: #EEEEEE;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    margin-left: 10px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555555;
}
