<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/vacationForm.css" />
    <title>휴가 신청</title>

<body>
<div layout:fragment="content">

    <h1>휴가 신청</h1>

    <form th:action="@{/vacation/new}" th:object="${vacationDTO}" method="post">
        <input type="hidden" th:field="*{employeeId}" /> <!-- employeeId를 숨겨진 필드로 추가 -->

        <div>
            <label>이름  <span th:text="${vacationDTO.name}"></span></label>
            <label>직급  <span th:text="${vacationDTO.position}"></span></label>
            <label>부서  <span th:text="${vacationDTO.department}"></span></label>
        </div>
        <div>
            <label>휴가 종류  </label>
            <select th:field="*{leaveItemName}" required>
                <option th:each="item : ${leaveItems}" th:value="${item.name}" th:text="${item.name}">휴가 항목</option>
            </select>
        </div>
        <div>
            <label>시작일  </label>
            <input type="date" th:field="*{startDate}" required/>
        </div>
        <div>
            <label>종료일  </label>
            <input type="date" th:field="*{endDate}" required/>
        </div>
        <div>
            <label>사유  </label>
            <textarea th:field="*{reason}" rows="3" required></textarea>
        </div>
        <button type="submit">신청</button>
    </form>
</div>
</body>
</html>