
/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #fafafa;
}

table tr:hover {
    background-color: #e1f5fe;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* 폼 스타일 */
form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;

}

/* 라벨 스타일 */
form label {
    font-weight: bold;
    color: #666;
    font-size: 14px;
    padding: 8px 10px;
    background-color: #f2f4f7;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}
/* 텍스트 및 날짜 입력 필드 스타일 */
form input[type="text"],
form input[type="date"],
form select {
    padding: 8px 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 150px; /* 필드 너비 조정 */
    background-color: #f2f4f7;
    color: #333333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 38px; /* 입력 필드의 높이 */
    border-radius: 0; /* 둥근 모서리 제거 */
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form select:focus {
    border-color: #424242;
    outline: none;
    box-shadow: 0 0 5px rgba(66, 66, 66, 0.2);
}

/* 검색 버튼 스타일 */
form button[type="submit"] {
    padding: 8px 16px;
    background-color: #424242;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 38px; /* 입력 필드와 높이 맞춤 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; /* 둥근 모서리*/
}

form button {
    padding: 8px 16px;
    background-color: #424242;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 38px; /* 입력 필드와 높이 맞춤 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; /* 둥근 모서리*/
}