<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회사 정보/수정</title>
    <link rel="stylesheet" th:href="@{/css/companyListstyle.css}">
</head>
<body>
<h1>회사 정보</h1>

<div class="company-info">
    <table>
        <tr>
            <td>회사명</td>
            <td th:text="${company.name}"></td>
            <td>전화번호</td>
            <td th:text="${company.contactNumber}"></td>
        </tr>
        <tr>
            <td>대표자명</td>
            <td th:text="${company.representativeName}"></td>
            <td>이메일</td>
            <td th:text="${company.email}"></td>
        </tr>
        <tr>
            <td>업종</td>
            <td th:text="${company.businessType}"></td>
            <td>법인등록번호</td>
            <td th:text="${company.corporateNumber}"></td>
        </tr>
        <tr>
            <td>사업자등록번호</td>
            <td th:text="${company.registrationNumber}"></td>
            <td>사업장 주소</td>
            <td th:text="${company.address}"></td>
        </tr>
    </table>
    <div class="button_container">
    <a th:href="@{/company/{id}/edit(id=${company.id})}" class="edit-button">수정</a>
    </div>
</div>

<div th:if="${company == null}">
    <p>회사가 등록되어 있지 않습니다.</p>
    <a href="/company/new">회사를 등록하세요.</a>
</div>

</body>
</html>
