<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>직원 목록</title>
    <link rel="stylesheet" type="text/css" href="/css/employeeList.css">
    <script defer>
        document.addEventListener("DOMContentLoaded", function() {
                const urlParams = new URLSearchParams(window.location.search);
                const searchField = urlParams.get('searchField');
                const name = urlParams.get('name');
                const contactInfo = urlParams.get('contactInfo');
                const email = urlParams.get('email');
                const address = urlParams.get('address');
                const hireDateStr = urlParams.get('hireDateStr');
                const birthDateStr = urlParams.get('birthDateStr');
                const experience = urlParams.get('experience');
                const positionId = urlParams.get('positionId');
                const departmentId = urlParams.get('departmentId');

                if (searchField) {
                    document.getElementById('searchField').value = searchField;
                    toggleFields(searchField);
                }

                if (name) {
                    document.querySelector("input[name='name']").value = name;
                }
                if (contactInfo) {
                    document.querySelector("input[name='contactInfo']").value = contactInfo;
                }
                if (email) {
                    document.querySelector("input[name='email']").value = email;
                }
                if (address) {
                    document.querySelector("input[name='address']").value = address;
                }
                if (hireDateStr) {
                    document.querySelector("input[name='hireDateStr']").value = hireDateStr;
                }
                if (birthDateStr) {
                    document.querySelector("input[name='birthDateStr']").value = birthDateStr;
                }
                if (experience) {
                    document.querySelector("select[name='experience']").value = experience;
                }
                if (positionId) {
                    document.querySelector("select[name='positionId']").value = positionId;
                }
                if (departmentId) {
                    document.querySelector("select[name='departmentId']").value = departmentId;
                }
        });

        function toggleFields(selectedValue) {
            console.log("toggleFields 호출됨: " + selectedValue); // 디버그 로그
            var fields = document.querySelectorAll('.dynamicField');
            fields.forEach(function(field) {
                field.style.display = 'none';
            });
            if (selectedValue) {
                document.getElementById(selectedValue + 'Field').style.display = 'block';
            }
        }


        function clearSearch() {
            window.location.href = '/employee/list'; // 기본 리스트 페이지로 이동
        }
    </script>
</head>

<body>
<!-- layout.html 파일의 content fragment에 employeeList.html의 내용을 삽입 -->
<div layout:fragment="content">
    <h1>직원 목록</h1>
        <div class="search-fields" id="searchFields">
            <form id="searchForm" action="/employee/search" method="get" style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
                <div class="search-field">
                    <label for="searchField">선택</label>
                    <select id="searchField" name="searchField" onchange="toggleFields(this.value)">
                        <option value="">선택하세요</option>
                        <option value="name">이름</option>
                        <option value="contactInfo">연락처</option>
                        <option value="email">이메일</option>
                        <option value="address">주소</option>
                        <option value="hireDateStr">입사일</option>
                        <option value="birthDateStr">생년월일</option>
                        <option value="experience">경력</option>
                        <option value="position">직급</option>
                        <option value="department">부서</option>
                    </select>
                </div>

                <div id="nameField" class="dynamicField" style="display: none;">
                    <label for="name" id="name">이름</label>
                    <input type="text" name="name" placeholder="이름 입력">
                </div>

                <div id="contactInfoField" class="dynamicField" style="display: none;">
                    <label for="contactInfo" id="contactInfo">연락처:</label>
                    <input type="text" name="contactInfo" placeholder="연락처 입력">
                </div>

                <div id="emailField" class="dynamicField" style="display: none;">
                    <label for="email" id="email">이메일:</label>
                    <input type="text" name="email" placeholder="이메일 입력">
                </div>

                <div id="addressField" class="dynamicField" style="display: none;">
                    <label for="address" id="address">주소:</label>
                    <input type="text" name="address" placeholder="주소 입력">
                </div>

                <div id="hireDateStrField" class="dynamicField" style="display: none;">
                    <label for="hireDateStr" id="hireDateStr">입사일:</label>
                    <input type="date" name="hireDateStr" >
                </div>

                <div id="birthDateStrField" class="dynamicField" style="display: none;">
                    <label for="birthDateStr" id="birthDateStr">생년월일:</label>
                    <input type="date" name="birthDateStr">
                </div>


                <div id="experienceField" class="dynamicField" style="display: none;">
                    <label for="experience" id="experience">경력:</label>
                    <select name="experience">
                        <option value="">경력 선택</option>
                        <option value="0">신입</option>
                        <option value="1">1년</option>
                        <option value="2">2년</option>
                        <option value="3">3년</option>
                        <option value="4">4년</option>
                        <option value="5">5년</option>
                        <option value="6">6년</option>
                        <option value="7">7년</option>
                        <option value="8">8년</option>
                        <option value="9">9년</option>
                        <option value="10">10년</option>
                    </select>
                </div>

                <div id="positionField" class="dynamicField" style="display: none;">
                    <label for="position" id="position">직급:</label>
                    <select name="positionId">
                        <option value="">직급 선택</option>
                        <option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}"></option>
                    </select>
                </div>

                <div id="departmentField" class="dynamicField" style="display: none;">
                    <label for="department" id="department">부서:</label>
                    <select name="departmentId">
                        <option value="">부서 선택</option>
                        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
                    </select>
                </div>


                <button type="submit">검색</button>
                <button type="button" onclick="clearSearch()">초기화</button>
                <a href="/employee/new" class="register" style="margin-left: auto;">직원 등록하기</a>
            </form>
        </div>

    <table>
        <tr>
            <!--        <th>ID</th>-->
            <th>사원번호</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원 구분</th>
            <th>부서</th>
            <th>입사일</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>생년월일</th>
            <th>주소</th>
            <th>경력</th>

        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeNumber}"></td>
            <td><a th:href="@{/employee/{id}(id=${employee.employeeId})}" th:text="${employee.name}"></a></td>
            <td th:text="${employee.position.name}"></td>
            <td th:text="${employee.status}"></td>
            <td th:text="${employee.department.name}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.contactInfo}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.experience}"></td>
        </tr>
    </table>
</div>

</body>
</html>
