<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>직원 등록</title>
  <link rel="stylesheet" type="text/css" href="/formstyle.css" />
</head>
<body>
<h1>직원 등록</h1>
<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
  <label for="name">이름:</label>
  <input type="text" id="name" th:field="*{name}" required />

  <label for="ssn">주민번호:</label>
  <input type="text" id="ssn" th:field="*{ssn}" required />

  <label for="position">직급:</label>
  <select id="position"th:field="*{position}" required >
    <option value="신입">신입</option>
    <option value="대리">대리</option>
    <option value="과장">과장</option>
    <option value="차장">차장</option>
    <option value="부장">부장</option>
  </select>

  <label for="status">직원 구분:</label>
  <select id="status" th:field="*{status}" required>
    <option value="정규">정규</option>
    <option value="계약">계약</option>
    <option value="퇴사">퇴사</option>
  </select>

  <label for="department">부서:</label>
  <select id="department" th:field="*{department}" required />
    <option value="인사부">인사부</option>
    <option value="개발부">개발부</option>
    <option value="영업부">영업부</option>
    <option value="관리부">관리부</option>
  </select>

  <label for="hireDate">입사일:</label>
  <input type="date" id="hireDate" th:field="*{hireDate}" required />

  <label for="contactInfo">연락처:</label>
  <input type="text" id="contactInfo"  th:field="*{contactInfo}" required />

  <label for="email">이메일:</label>
  <input type="email" id="email" th:field="*{email}" required />

  <label for="birthDate">생년월일:</label>
  <input type="date" id="birthDate" th:field="*{birthDate}" required />

  <label for="address">주소:</label>
  <input type="text" id="address" th:field="*{address}" required />

  <label for="experience">경력:</label>
  <input type="text" id="experience" th:field="*{experience}" />

  <label for="accountNumber">계좌 번호:</label>
  <input type="text" id="accountNumber" th:field="*{accountNumber}" />

  <label for="bank">은행:</label>
  <select id="bank" th:field="*{bank}" />
  <option value="국민은행">국민은행</option>
  <option value="신한은행">신한은행</option>
  <option value="하나은행">하나은행</option>
  <option value="우리은행">우리은행</option>
  <option value="토스뱅크">토스뱅크</option>
  </select>

  <button type="submit">등록</button>
</form>
<a href="/hrm">직원 목록으로 돌아가기</a>
</body>
</html>
