<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>직원 목록</title>
    <link rel="stylesheet" type="text/css" href="/liststyle.css">
</head>
<body>

<div class="sidebar">
    <h2>메뉴</h2>
    <ul>
        <li><a href="#" onclick="toggleMenu(this)">인사관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">직원 관리</a>
                    <ul class="open">
                        <li><a href="/employee/list">직원 목록</a></li>
                        <li><a href="/employee/new">직원 등록</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">인사 발령</a>
                    <ul class="open">
                        <li><a href="#">인사 발령 조회</a></li>
                        <li><a href="#">인사 발령 입력</a></li>
                        <li><a href="#">수정(삭제)</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">퇴사자 관리</a>
                    <ul class="open">
                        <li><a href="/manage/resignations">퇴사자 명단</a></li>
                        <li><a href="/resignation">퇴사 신청</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">증명서 관리</a>
                    <ul class="open">
                        <li><a href="#">재직 증명서</a></li>
                        <li><a href="#">경력 증명서</a></li>
                        <li><a href="#">급여 명세서</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" onclick="toggleMenu(this)">회사 관리</a>
            <ul class="open">
                <li><a href="#" onclick="toggleMenu(this)">회사</a>
                    <ul class="open">
                        <li><a href="/company/list">회사 정보/수정</a></li>
                        <li><a href="/company/new">회사 정보 등록</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="toggleMenu(this)">조직 개편</a>
                    <ul class="open">
                        <li><a href="/organization/position/list">직급 관리</a></li>
                        <li><a href="/organization/department/list">부서 관리</a></li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</div>

<div class="content">
    <form action="/employee/search" method="get">
        <input type="text" name="name" placeholder="이름" />
        <input type="text" name="ssn" placeholder="주민번호" />
        <input type="text" name="position" placeholder="직급" />
        <input type="text" name="status" placeholder="직원 구분" />
        <input type="text" name="department" placeholder="부서" />
        <input type="text" name="hireDateStr" placeholder="입사일 (yyyy-MM-dd)" />
        <input type="text" name="contactInfo" placeholder="연락처" />
        <input type="text" name="email" placeholder="이메일" />
        <input type="text" name="birthDateStr" placeholder="생년월일 (yyyy-MM-dd)" />
        <input type="text" name="address" placeholder="주소" />
        <input type="text" name="experience" placeholder="경력" />
        <input type="text" name="accountNumber" placeholder="계좌 번호" />
        <input type="text" name="bank" placeholder="은행" />
        <button type="submit">검색</button>
    </form>

    <h1>직원 목록</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>사원번호</th>
            <th>이름</th>
            <th>주민번호</th>
            <th>직급</th>
            <th>직원 구분</th>
            <th>부서</th>
            <th>입사일</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>생년월일</th>
            <th>주소</th>
            <th>경력</th>
            <th>계좌 번호</th>
            <th>은행</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.employeeNumber}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.ssn}"></td>
            <td th:text="${employee.position.name}"></td>
            <td th:text="${employee.status}"></td>
            <td th:text="${employee.department.name}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.contactInfo}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.experience}"></td>
            <td th:text="${employee.accountNumber}"></td>
            <td th:text="${employee.bank}"></td>
        </tr>
    </table>
    <a href="/employee/new">직원 등록하기</a>
</div>
<script>
    function toggleMenu(element) {
        const nestedMenu = element.nextElementSibling;
        if (nestedMenu) {
            nestedMenu.classList.toggle('active');
        }
    }
</script>

</body>

</html>
