<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body>
<div class="container">
    <div class="background-section"></div>
    <div class="login-section">
        <img src="/image/techinnovate_logo.png" alt="TechInnovate Logo" class="logo">
        <form action="#" th:action="@{/login}" method="post">
            <input type="text"   id="employeeNumber" name="employeeNumber" placeholder="사원번호" required>
            <input type="email" id="email" name="email" placeholder="이메일" required>
            <button type="submit">로그인</button>
        </form>
    </div>
</div>
</body>
</html>

