<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>퇴사 신청 관리</title>
    <link rel="stylesheet" type="text/css" href="/css/manageResignationsstyle.css" />
</head>
<body>
<div layout:fragment="content">
<h1>퇴사 신청 관리</h1>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>사원번호</th>
            <th>이름</th>
            <th>퇴사일</th>
            <th>퇴사 사유</th>
            <th>비고</th>
            <th>승인</th>
            <th>거절</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${resignation.employee.employeeNumber}"></td>
            <td th:text="${resignation.employee.name}"></td>
            <td th:text="${resignation.resignationDate}"></td>
            <td th:text="${resignation.resignationReason}"></td>
            <td>
                <form action="#" th:action="@{/resignation/approve/{resignationId}(resignationId=${resignation.resignationId})}" method="post">
                    <input type="text" name="notes" placeholder="비고 입력" />
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/resignation/approve/{resignationId}(resignationId=${resignation.resignationId})}" method="post">
                    <button type="submit" class="approve-btn">승인</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/resignation/reject/{resignationId}(resignationId=${resignation.resignationId})}" method="post">
                    <button type="submit" class="reject-btn">거절</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
