<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <title>퇴사자 명단 및 퇴직금</title>
  <link rel="stylesheet" type="text/css" href="/css/attendanceRecordList.css">
  <script>
    function clearSearch() {
        window.location.href = '/resignation/pay';
    }
  </script>
</head>
<body>
<div layout:fragment="content">
  <h1>퇴사자 명단 및 퇴직금</h1>

  <!-- 검색 폼 추가 -->
  <form th:action="@{/resignation/search}" method="get">
    <label for="employeeName">직원 이름</label>
    <input type="text" id="employeeName" name="employeeName" th:value="${employeeName}">

    <label for="startDate">시작 범위</label>
    <input type="date" id="startDate" name="startDate" th:value="${startDate}">

    <label for="endDate">끝 범위</label>
    <input type="date" id="endDate" name="endDate" th:value="${endDate}">

    <button type="submit">검색</button>
    <button type="button" onclick="clearSearch()">초기화</button>
  </form>

  <table>
    <thead>
    <tr>
      <th>No.</th>
      <th>성명</th>
      <th>입사일</th>
      <th>퇴사일</th>
      <th>3개월 급여 평균</th>
      <th>퇴직급여</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resignation, iterStat : ${resignationDetails}">
      <td th:text="${iterStat.count}"></td>
      <td th:text="${resignation['employeeName']}"></td>
      <td th:text="${resignation['employeeHireDate']}"></td>
      <td th:text="${resignation['resignationDate']}"></td>
      <td th:text="${#numbers.formatDecimal(resignation['threeMonthAverageSalary'], 0, 0)}"></td>
      <td th:text="${#numbers.formatDecimal(resignation['severancePay'], 0, 0)}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(resignationDetails)}">
      <td colspan="6">퇴사자 정보가 없습니다.</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
